<html>
<head>
<a href="{{url_for('static', filename='main.html')}}">Home</a>
    <a href="/statistik">Statestik</a>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
    <body id="background">

        <h1 id="points">Points: 0</h1>

        <div id="border"></div>
        <div class="img">
            <button class="bel" onclick="addKurv(' gave kort',150);">Belønning 1 150P</button>
            <img src="{{url_for('static', filename='gavekort.webp')}}" alt="Gavekort" class="img"></img>
        </div>

        <div class="img">
                <button class="bel" onclick="addKurv(' toffifee',200);">Belønning 2 200P</button>
                <img src="{{url_for('static', filename='7c5c608b-74f8-478a-b315-5de31a8979a5.jpg')}}" alt="Pakke Chokolade" class="img"> </img>
        </div>

        <div class="img">
            <button class="bel" onclick="addKurv(' coca cola 6x',300);">Belønning 3 300P</button>
            <img src="{{url_for('static', filename='922526c76a91c5d4b2294b2602147638a116cd14ff4327d40360d249c5ee9536.png')}}" alt="6 Pack cola" class="img">
        </div>

        <div class="img">
            <button class="bel" onclick="addKurv(' coca cola 12x',400);">Belønning 4 400P</button>
            <img src="{{url_for('static', filename='12-pack cola.webp')}}"  alt="12 pack cola" class="img"></img>
        </div>

        <div class="img">
            <button class="bel" onclick="addKurv(' coca cola 24x',500);">Belønning 5 500P</button>
            <img src="{{url_for('static', filename='cola24.jpeg')}}" alt="24 pack cola" class="img"></img>
        </div>

        <div id="border"></div>
        <div id="kurv">
            <h1>Indkøbs kurv</h1>
            <div class="border"></div>
            <p id="kurvList">Tom</p>
        </div>

        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>
