<html>
    <head>
        <a href="{{url_for('static', filename='main.html')}}">Home</a>
        <a href="/statistik">Statestik</a>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>

    <body id="background">
        <h1 id="points">Points: 0</h1>
        <div class="border"></div>
        <div>
            <button class="bel" onclick="addKurv('gave kort',150);">Belønning 1 150P</button>
            <button class="bel" onclick="addKurv('toffifee',200);">Belønning 2 200P</button>
            <button class="bel" onclick="addKurv('coca cola 6x',300);">Belønning 3 300P</button>
            <button class="bel" onclick="addKurv('coca cola 12x',400);">Belønning 4 400P</button>
            <button class="bel" onclick="addKurv('coca cola 24x',500);">Belønning 5 500P</button>
        </div>
        <img src="{{url_for('static', filename='gavekort.webp')}}" class="img" alt="Gavekort"></img>
        <img src="{{url_for('static', filename='7c5c608b-74f8-478a-b315-5de31a8979a5.jpg')}}" class="img" alt="Pakke Chokolade" id="toff"> </img>
        <img src="{{url_for('static', filename='922526c76a91c5d4b2294b2602147638a116cd14ff4327d40360d249c5ee9536.png')}}" class="img" alt="6 Pack cola" id="cola">
        <img src="{{url_for('static', filename='12-pack cola.webp')}}" class="img" alt="12 pack cola" id="cola12"></img>
        <img src="{{url_for('static', filename='cola24.jpeg')}}" class="img" alt="24 pack cola" id="cola24"></img>

        <div id="kurv">
            <h1>Indkøbs kurv</h1>
            <div class="border"></div>
            <p id="kurvList">Tom</p>
        </div>

        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>
